:root {
    --main-bg-color: #e6e2d3;
    --main-text-color: #b9936c;
    --main-middle-color: #dac292;
    --main-second-color: #c4b7a6;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    text-align: center;
    color: var(--main-text-color);
    font-family: 'Roboto Mono', monospace;
}

/* Header area */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

li {
    float: right;
}

li a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home-left {
    float: left;
}

.jumbotron {
    position: relative;
    color: var(--main-bg-color);
}

li a:hover:not(.active) {
    background-color: var(--main-second-color);
    color: var(--main-bg-color);
}

/* * {
    box-sizing: border-box;
} */
video[id] {
    display: block;
    width: 100%;
}

.greeting {
    font-size: 50px;
    position: absolute;
    color: var(--main-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The main body area*/
.the-main-part {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

a[id] {
    color: var(--main-text-color);
}

:target {
    background: var(--main-middle-color);
    transition: background-color 2s ease-in-out;
    transform: rotate(20deg);
}

/* Portfolio show section */
.port-box {
    line-height: 90px;
    vertical-align: middle;
    margin: 20px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(port1.jpg);
    background-size: 100%;
}

.port-box:hover {
    outline: 20px ridge var(--main-middle-color);
    outline-offset: 16px;
    top: 50%;
    left: 50%;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Contact */
input:focus, textarea:focus {
    background-color: var(--main-second-color);
}

.contact-section {
    border-radius: 20px;
    background-color: var(--main-bg-color);
    padding: 20px;
}

input, textarea {
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--main-middle-color);
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button {
    border-radius: 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.5em solid var(--main-middle-color);
    background-color: var(--main-middle-color);
}

button:hover {
    font-size: 2em;
    transform: rotate(10deg);
}

/* Footer */

.footer {
    font-size: 30px;
    padding: 40px 0;
    background-color: var(--main-bg-color);
}

.fab {
    color: var(--main-text-color);
}

.fab:hover {
    color: black;
    font-size: 35px;
}

.copyright {
    font-size: 15px;
}

@media (max-width: 500px) {
    .greeting {
        font-size: 30px;
    }

}