:root {
   --primary-color: #fff; /*for background of places with texts*/
   --background-color: #eeeeee; /*for background of the body*/
   --headings-color: #0f9dce; /* mobster blue */
   --text-color: #616161; /* dark grey */
   --border-color: #bdbdbd; /* light grey */
}

/* .end-float {
  float: none;
} */

body {
  background-color: var(--primary-color);
}

.space {
  /* height: auto; */
  /* height: 100%; */
  /* border: solid blue 1px; */
}

.clearfix {
  overflow: hidden;
}

/* .container .rog {
  width: 80%;
  background-color: var(--primary-color);
} */

.pageTitle h1 {
  font-size: 3em;
  font-variant: small-caps;
  color: var(--headings-color);
  margin-bottom: 5%;
}

.question {
  font-variant: small-caps;
  padding-left: 2%;
  line-height: 1px;
}

summary {
  font-size: 1.3em;
  font-variant: small-caps;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer;
}

summary:hover {
  box-shadow: 1px 1px 1px 1px var(--headings-color);
}

details {
    color: var(--headings-color);
  }

.answer {
  padding-left: 5%;
  padding-right: 3%;
  font-size: .9em;
  font-style: italic;
  color: var(--text-color);
  letter-spacing: 1px;
}

.title {
  margin-bottom: -2%;
  font-weight: 600;
}



.add-button i {
   font-size: 2.8rem;
   color: var(--border-color);
   position: relative;
   float: left;
   margin-right: 20px;
   margin-top: 10px;
   /* padding-left: 0px; */
   cursor: pointer;
}

.add-button i:hover {
   color: var(--headings-color);
   transform: scale(1.1);
   transition: transform .5s;
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    /* margin: 0 auto; */
    margin: 80px auto 0 auto;
  }

  .box {
   border: 1px solid var(--border-color);
   box-shadow: 2px 2px var(--border-color);
   width: 90%;
   margin: 0 auto;
   margin-bottom: 3%;
  }
}

.add-button i {
   margin-left: 30px;
}

.add-button i {
   margin-top: 15px;
}

@media only screen and (min-width: 601px) {
  .title {
    margin-bottom: -1%;
  }

  .box {
   border: 1px solid var(--border-color);
   box-shadow: 2px 2px var(--border-color);
   width: 90%;
   margin: 0 auto;
   margin-bottom: 3%;
  }

  .add-button i {
     padding-left: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    margin-bottom: -1%;
  }

  summary {
    font-size: 1.1em;
  }


  .box {
   border: 1px solid var(--border-color);
   box-shadow: 1px 1px var(--border-color);
   width: 30%;
   margin: 0 auto;
   margin-bottom: 3%;
   margin-right: 2%;
   display: inline-block;
   position: relative;
   float: left;
  }

  .add-button i {
     margin-left: 0px;
  }
}
