.main-parallax{
    height: 350px;
    background-image: url('../img/index.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.main-left-column {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
}
.main-right-column {
    margin-top: 20px;
}
.main-right-column-item {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    margin-bottom: 20px;
}
.main-cartoon-img {
    width: 100%;
}

.main-cartoon {
    width: 250px;
    margin: auto;
}

@media (min-width: 992px) {
    .main-parallax {
        height: 400px;
        background-attachment: fixed;
    }
    .main-content {
        display: flex;
    }
    .main-left-column {
        width: 70%;
        margin-right: 10px;
    }
    .main-right-column {
        width: 30%;
        margin-left: 10px;
    }
    .main-right-column-item:last-child {
        margin-bottom: 0px;
    }
    .main-cartoon {
        width: 100%;
    }  
}