:root {
   --primary-color: #fff; /*for background of places with texts*/
   --background-color: #eeeeee; /*for background of the body*/
   --headings-color: #0f9dce;
   --text-color: #616161;
   --border-color: #bdbdbd;
}

.main-body {
  margin: 0;
  font-family: "Nunito", sans-sans-serif;
}

.sub-headings, .about-list, .about-list-items {
  color: var(--text-color);
}

.sub-headings, .about-list {
  text-align: left;
  padding: 0;
}

.back-button {
   font-size: 3rem;
   color: lightgrey;
   position: relative;
   float: left;
   margin-right: 140px;
   z-index: 10;
}

.back-button:hover {
   color: #0f9dce;
   transform: scale(1.1);
   transition: transform .5s;
}

.main-container {
  height: 100%;
  background-color: var(--background-color);
  margin: 0;
  padding: 30px;
}

.inner-container {
  background-color: var(--primary-color);
  text-align: center;
  height: 80%;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border: 2px var(--border-color) solid;
  position: relative;
}

.profile-img-container-outer {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  width: 60%;
  max-height: 300px;
}

.profile-img-container-inner {
  display: inline-block;
  width: 30%;
  margin: 10px;
  transition: width, display, .7s ease-in;
}

.profile-img-container-outer:hover > div {
  opacity: 1;
  width: 30%;
  max-height: 300px;
  transition: opacity, width, .7s ease-in;
}

.profile-img {
  display: inline-block;
  width: auto;
  border-radius: 50%;
  max-height: 300px;
  max-width: 100%;
  vertical-align: middle;
}

.about-banner {
  background-color: var(--background-color);
  width: 100%;
  margin-left: -10px;
  padding-right: 20px;
}

.name-title {
  color: var(--headings-color);
  text-transform: uppercase;
}

.sub-headings {
  text-decoration: underline;
  text-transform: uppercase;
}

.hidden-side {
  opacity: 0;
  width: 0%;
}

.about {
  /* border: solid 2px pink; */
  padding: 5px;
  margin: 0 auto;
  width: 80%;
}

.about ul {
  text-align: left;
  list-style: none;

}

.about li {
  margin-bottom: 5px;
}

.social-media-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.fab {
  display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #ffffff;
	border-radius: 2px;

	font-size: 27px;
	color: #0f9dce;
	text-align: center;
	line-height: 40px;
  margin: 0;
}

.about-me-facebook:hover {
    color: #616161;
    transform: scale(1.1);
    transition: color, transform, .5s;
}

.about-me-twitter:hover {
    color: #616161;
    transform: scale(1.1);
    transition: color, transform, .5s;
}

.about-me-linkedin:hover {
    color: #616161;
    transform: scale(1.1);
    transition: color, transform, .5s;
}

.about-me-github:hover {
    color: #616161;
    transform: scale(1.1);
    transition: color, transform, .5s;
}

/*small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile-img-container-outer {
    width: 90%;
  }

  .inner-container {
    width: 90%;
    height: auto;
    padding-bottom: 30px
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .profile-img-container-outer {
    width: 100%;
  }

  .inner-container {
    width: 90%;
    height: auto;
    padding-bottom: 30px
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .profile-img-container-outer {
    width: 100%;
  }

  .inner-container {
    width: 70%;
    height: auto;
    padding-bottom: 30px
  }
}

/* Landscape for tablets */
@media only screen and (max-height: 650px) {
  .inner-container {
    width: 90%;
    height: 100vh;
    padding-bottom: 30px;
    overflow-y: scroll;
  }
}
